{% extends 'achievesolapp/base.html' %}
{% load static %}

{% block content %}
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-header slider-menu-position">
              <!-- RD Navbar Transparent-->
              <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-top-panel rd-navbar-default rd-navbar-white rd-navbar-static-fullwidth-transparent " data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="75px" data-auto-height="false" data-lg-auto-height="true" data-layout="rd-navbar-fixed" data-xs-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
                  <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                      <!-- RD Navbar Toggle-->
                      <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                      <!-- Navbar Brand-->
                      <div class="rd-navbar-brand"><img src="{% static "images/3.png" %}"  class="img-fluid logo" style="width:260px"  alt="img" ></div>
                    </div>
                    <div class="rd-navbar-menu-wrap">
                      <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                          <div class="form-search-wrap">
                            <!-- RD Search Form-->
                            <form class="form-search rd-search" action="search-results.html" method="GET">
                              <div class="form-group">
                                <label class="form-label form-search-label form-label-sm rd-input-label" for="rd-navbar-form-search-widget">Search</label>
                                <input class="form-search-input input-sm form-control form-control-gray-lightest input-sm" id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off">
                              </div>
                              <button class="form-search-submit" type="submit"><span class="fa fa-search"></span></button>
                            </form>
                          </div>
                          <!-- RD Navbar Nav-->
                          <ul class="rd-navbar-nav">
                            <li><a href="{% url 'achievesolapp:home' %}"><span>Home</span></a>
                           
                            </li>
                            <li  class="active" ><a href="{% url 'achievesolapp:about' %}" ><span>Who we are</span></a>
                            
                            </li>
                            <li><a href="{% url 'achievesolapp:services' %}" ><span>Our Services</span></a>
                              
                            </li>
                            <li><a href="{% url 'achievesolapp:programs' %}" ><span>Our programs</span></a>
                            </li>
                            <li><a href="{% url 'achievesolapp:product_list' %}" ><span>Events</span></a>
                            </li>
                            <li><a href="{% url 'achievesolapp:media_list' %}" ><span>Gallery</span></a>
                            </li>
                            <li><a href="{% url 'achievesolapp:blog_list' %}"  ><span>Blog</span></a>  
                            </li>
                            <li><a href="{% url 'achievesolapp:contact' %}"  ><span>contact</span></a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- RD Navbar Search-->
                     
                    </div>
                  </div>
                </nav>
              </div>




      <!-- Modern Breadcrumbs-->
      <div class="section-height-800 breadcrumb-modern context-dark text-center breadcrumbs-center">
        <div class="shell section-bottom-120">
          <div class="veil reveal-md-block">
            <h3 class="text-bold">About us</h3>
            <ul class="list-inline-custom">
              <li><a class="icon fa fa-facebook  icon-circle icon-gray-light" href="https://www.facebook.com/achievesol/" target="_blank"></a></li>
              <li><a class="icon fa fa-twitter  icon-circle icon-gray-lightt" href="https://twitter.com/achievesol" target="_blank"></a></li>
              <li><a class="icon fa fa-instagram  icon-circle icon-gray-lightg" href="https://www.instagram.com/achievesolutions/" target="_blank"></a></li>
    
            </ul>
          </div>
         
        </div>
      </div>
    </header>
  

      <!-- Biography-->
      <section class="bg-image bg-image-home-2 section-90 section-md-top-90 section-md-bottom-111">
          <div class="shell-fluid">
            <div class="range range-xs-center range-md-left text-left">
              <div class="cell-xs-10 cell-sm-8 cell-md-5"><img style="border-radius: 8px;" class="img-responsive" src="{% static "images/pages/con.png" %}" width="720" height="400" alt=""/>
              </div>
              
              <div class="cell-xs-10 cell-sm-8 cell-md-7 offset-top-60 offset-md-top-0">
                <h3 class="text-bold text-center">People Centred, Solutions Driven</h3>
                <div class="inset-md-left-36 inset-xl-left-110 offset-top-60">
                 <p>
                    Achieve Solutions is a people centred, solution driven organization that offers affordable services with people in mind. The journey of Achieve Solutions started with a dream of a world where everybody is motivated and empowered to live a purposeful driven life in a creative, useful and effective manner in everything they do. 
                 </p>
                   <p>
                      Achieve Solutions Purpose of investing in people seeks to create an enabling environment  for people to gain knowledge, acquire skills, build capacity and  promote talents for personal, professional, and business success.. Achieve Solutions seeks to produce free standing people who are socially and economically empowered. 
                    We assist individuals to access their own personal resources, capabilities and qualities to achieve defined goals
                   </p>        
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="features hs-section bg-image-home-7 section-40 ">
        <div class="range range-xs-center range-md-left text-left text-md-center text-lg-left">


            <!--Motivational Talks  area -->
            <div class="cell-xs-10 cell-sm-10 cell-md-6 offset-top-0 offset-md-top-30 ">
               <div class="unit unit-xl-horizontal unit-lg-horizontal unit-md-vertical unit-sm-horizontal unit-xs-horizontal unit-spacing-md unit-xs-top">
                 <div class="unit-left">
        

                    <div class="blog2-card2 " >
                      
                       <div class="description">
                          <h1>Our Mission</h1> 
                                  <p>To provide quality training and personal development services that individuals recommend  to family and friends, teams prefer for their development, organizations select for their employees for better results and transformation.</p>          
                       </div>
                     </div>
                  </div>   
                </div>
              </div>
               <!--End of Motivational Talks  area -->

               <!--Workshops, Seminars,Conference and Networking area -->
               <div class="cell-xs-10 cell-sm-10 cell-md-6 offset-top-30 offset-md-top-30 ">
                  <div class="unit unit-xl-horizontal unit-lg-horizontal unit-md-vertical unit-sm-horizontal unit-xs-horizontal unit-spacing-md unit-xs-top">
                    <div class="unit-left">
           
   
                       <div class="blog2-card2 " >
                       
                          <div class="description">
                             <h1>Our Vision </h1>
<p>To support individuals in the realization of their full potential – provide access to motivation, empowerment and impactful services -- to drive a new era of mindset change, personal development, growth, excellence, better results and productivity.</p>                          </div>
                        </div>
                     </div>   
                   </div>
                 </div>
                  <!--End of Workshops, Seminars,Conference and Networking area -->

                </section>     
  
  <section class="bg-image bg-fixed offset-top-0 offset-md-top-0 " style="background-image: url({% static "images/gallery/maryhill/29v.jpg)"  %}" >
    <div class="shell-fluid section-90 section-md-120 context-dark">
      <div class="range range-sm-center list-dashed-big">
        <div class="cell-sm-2">
          <!-- CountTo-->
          <div class="h1 font-default">
            <div class=" big text-ubold" data-from="0" data-to="12"></div>
          </div>
          <div class="text-primary-light offset-top-60">Motivational Talks</div>
        </div>
        <div class="cell-sm-2 offset-top-60 offset-sm-top-0">
          <!-- CountTo-->
          <div class="h1 font-default">
            <div class=" big text-ubold" data-from="0" data-to="1.5"></div>
          </div>
          <div class="text-primary-light offset-top-60">Conferences & Networking Events</div>
        </div>
        <div class="cell-sm-2 offset-top-60 offset-sm-top-0">
          <!-- CountTo-->
          <div class="h1 font-default">
            <div class="  big text-ubold" data-from="0" data-to="999"></div>
          </div>
          <div class="text-primary-light offset-top-60">Training</div>
        </div>
        <div class="cell-sm-2 offset-top-60 offset-sm-top-0">
          <!-- CountTo-->
          <div class="h1 font-default">
            <div class=" big text-ubold"></div>
          </div>
          <div class="text-primary-light offset-top-60">Workshops </div>
        </div>
        <div class="cell-sm-2 offset-top-60 offset-sm-top-0">
          <!-- CountTo-->
          <div class="h1 font-default">
            <div class=" big text-ubold" ></div>
          </div>
          <div class="text-primary-light offset-top-60">Team building</div>
        </div>
        <div class="cell-sm-2 offset-top-60 offset-sm-top-0">
            <!-- CountTo-->
            <div class="h1 font-default">
              <div class=" big text-ubold" ></div>
            </div>
            <div class="text-primary-light offset-top-60">Coaching</div>
          </div>
      </div>
    </div>
  </section>
  <!-- Mission-->
  <section class=" bg-image bg-image-home-2 section-90 section-md-top-90 section-md-bottom-90" >
      <div class="shell-fluid">
        <h2 class=" text-bold"></h2>
      
        <div class="range range-xs-center range-md-left text-xs-left">
          <div class="cell-xs-10 cell-sm-6">
              <div>
                  <h4 class="text-bold  text-center " >Our Core Values</h4>
                </div>
            <div class="unit unit-xl-horizontal unit-lg-horizontal unit-md-horizontal unit-sm-horizontal unit-xs-horizontal">
                <div class="unit-left offset-top-30 " ><img style="border-radius: px;"  class="img-responsive" src="{% static "images/gallery/maryhill/32m.jpg" %}"  style="box-shadow: 0 6px 22px 0 #888686;" width="280" height="300" alt=""/> <br> <br><img style="border-radius: px;"  class="img-responsive" src="{% static "images/gallery/lukenya/IMG-20190728-WA0025.jpg" %}"  style="box-shadow: 0 6px 22px 0 #888686;" width="280" height="400" alt=""/></div>
                
              <div class="unit-body">
                 
                  <!-- <h4 class="text-bold"> OUR CORE VALUES</h4> -->


                  <div class="offset-top-30 inset-left-0">
                  <ul class="list list-marked">  
                      <li><span class="list-index-counter"></span>Professionalism </li>
                      <li><span class="list-index-counter"></span>Integrity & Trust</li>
                      <li><span class="list-index-counter"></span>Purpose, Growth & Continuous learning</li>
                      <li><span class="list-index-counter"></span>Customer satisfaction</li>
                      <li><span class="list-index-counter"></span>Environment Conservation</li>
                     
                      
                      <!-- <li><span class="list-index-counter"></span>Community </li> -->
                    </ul>
                
                </div>
              </div>
                
    
          </div>
        </div>
              
          <div class="cell-xs-10 cell-sm-6 offset-top-60 offset-md-top-0">
              <div>
                  <h4 class="text-bold  text-center ">At Achieve Solutions</h4>
                </div>
            <div class="unit unit-xl-horizontal unit-lg-horizontal unit-md-horizontal unit-sm-horizontal unit-xs-horizontal">
               
              <div class="unit-left offset-top-30 " ><img style="border-radius: px;"  class="img-responsive" src="{% static "images/blog/tm.jpg" %}"  style="box-shadow: 0 6px 22px 0 #888686;" width="280" height="300" alt=""/>  <br> <br><img style="border-radius: px;"  class="img-responsive" src="{% static "images/blog/chieve.jpeg" %}"  style="box-shadow: 0 6px 22px 0 #888686;" width="280" height="400" alt=""/></div>
              
              <div class="unit-body">  
             
                  
                
                  <div class="offset-top-30 inset-left-0">
                  <ul class="list list-marked">
                      <li><span class="list-index-counter"></span>We enjoy working with people.</li>
                      <li><span class="list-index-counter"></span>We are good listeners.</li>
                      <li><span class="list-index-counter"></span>We bring out your potentials.</li>
                      <li><span class="list-index-counter"></span>We specialize in techniques that enrich vision and capacity for all-round success.</li>
                      <li><span class="list-index-counter"></span>We offer professional and objective services that simply delight.</li>
                      <li><span class="list-index-counter"></span>We guide and support you every step of the way.</li>
                      <li><span class="list-index-counter"></span>We have Resourceful facilitators.</li>
                      <li><span class="list-index-counter"></span>We provide Quality and Expertise.</li>
                    
                    </ul>
                    
                </div>
             
              </div>
              
            </div>
            
            </div>

          </div>
        
        </div>
      </div>
    </section>

    <section class="section-90 section-md-0" >
      <div class="shell-fluid-full">
        <div class="range range-xs-center">
          <div class="cell-xs-10 cell-md-12">
            <div class="reveal-md-flex">
              <div class="thumbnail-team-2">
                <div class="image-wrap"><img style="border-radius: px;"  class="img-responsive" src="{% static "images/gallery/githogoro/africa.png" %}"   width="384" height="480" alt=""/>
                </div>
              
              </div>
              <div class="thumbnail-team-2">
                <div class="image-wrap"><img style="border-radius: px;"  class="img-responsive" src="{% static "images/gallery/githogoro/vision.jpg" %}"  width="384" height="480" alt=""/>
                </div>
                
              </div>
              <div class="thumbnail-team-2">
                <div class="image-wrap"><img style="border-radius: px;"  class="img-responsive" src="{% static "images/gallery/githogoro/sdg.jpg" %}"  width="384" height="480" alt=""/>
                </div>
              
              </div>
           
              
            </div>
          </div>
        </div>
      </div>
    </section>
    

  <!-- Unordered and Ordered Lists-->

</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- PhotoSwipe Gallery-->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__cent"></div>
      </div>
    </div>
  </div>
</div>

{% endblock%}