{% extends 'achievesolapp/base.html' %}
{% load static %}

{% block title %}
       {% if blogcategory %}{{ blogcategory.name }} {% else %} Blogs {% endif %}
{% endblock %}

{% block content %}
    <!-- Page-->
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-header slider-menu-position">
              <!-- RD Navbar Transparent-->
              <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-top-panel rd-navbar-default rd-navbar-white rd-navbar-static-fullwidth-transparent " data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="75px" data-auto-height="false" data-lg-auto-height="true" data-layout="rd-navbar-fixed" data-xs-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
                  <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                      <!-- RD Navbar Toggle-->
                      <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                      <!-- Navbar Brand-->
                      <div class="rd-navbar-brand"><img src="{% static "images/3.png"  %}" class="img-fluid logo" style="width:260px"  alt="img" ></div>
                    </div>
                    <div class="rd-navbar-menu-wrap">
                      <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                          <div class="form-search-wrap">
                            <!-- RD Search Form-->
                            <form class="form-search rd-search" action="search-results.html" method="GET">
                              <div class="form-group">
                                <label class="form-label form-search-label form-label-sm rd-input-label" for="rd-navbar-form-search-widget">Search</label>
                                <input class="form-search-input input-sm form-control form-control-gray-lightest input-sm" id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off">
                              </div>
                              <button class="form-search-submit" type="submit"><span class="fa fa-search"></span></button>
                            </form>
                          </div>
                          <!-- RD Navbar Nav-->
                          <ul class="rd-navbar-nav">
                            <li><a href="{% url 'achievesolapp:home' %}"><span>Home</span></a>
                           
                            </li>
                            <li ><a href="{% url 'achievesolapp:about' %}" ><span>Who we are</span></a>
                            
                            </li>
                            <li><a href="{% url 'achievesolapp:services' %}" ><span>Our Services</span></a>
                              
                            </li>
                            <li><a href="{% url 'achievesolapp:programs' %}" ><span>Our programs</span></a>
                            </li>
                            <li><a href="{% url 'achievesolapp:product_list' %}" ><span>Events</span></a>
                            </li>
                            <li><a href="{% url 'achievesolapp:media_list' %}" ><span>Gallery</span></a>
                            </li>
                            <li class="active" ><a href="{% url 'achievesolapp:blog_list' %}"  ><span>Blog</span></a>  
                            </li>
                            <li><a href="{% url 'achievesolapp:contact' %}"  ><span>contact</span></a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- RD Navbar Search-->
                     
                    </div>
                  </div>
                </nav>
              </div>
      <!-- Modern Breadcrumbs-->
      <div class="section-height-800 breadcrumb-modern context-dark text-center breadcrumbs-center">
        <div class="shell section-bottom-120">
          <div class="veil reveal-md-block">
            <h3 class="text-bold">Blogs</h3>
            <ul class="list-inline-custom">
              <li><a class="icon fa fa-facebook  icon-circle icon-gray-light" href="https://www.facebook.com/achievesol/" target="_blank"></a></li>
              <li><a class="icon fa fa-twitter  icon-circle icon-gray-lightt" href="https://twitter.com/achievesol" target="_blank"></a></li>
              <li><a class="icon fa fa-instagram  icon-circle icon-gray-lightg" href="https://www.instagram.com/achievesolutions/" target="_blank"></a></li>
    
            </ul>
          </div>
          <!-- <ul class="list-inline list-inline-with-arrows p">
            <li><a class="text-white" href="{% url 'achievesolapp:home' %}" >HOME</a></li>
            <li>BLOGS
            </li>
          </ul> -->
        </div>
      </div>
    </header>

    <section class="section-90 section-md-top-30 section-md-bottom-111 bg-qua-haze">
    <div class="col-lg-12">
        <div class="isotope-filters isotope-filters-horizontal">
          <ul class="list-inline list-inline-sm">
            <li class="veil-md">
              <p>Choose Category:</p>
            </li>
            <li class="section-relative">
              <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true">Filter Blogs<span class="caret"></span></button>
              <ul class="list-sm-inline isotope-filters-list" id="isotope-1">
                  <li {% if not blogcategory %} class="active"{% endif %}><a href="{% url 'achievesolapp:blog_list' %}">All</a></li> 
                  {% for c in blogcategories %}
                  <li {% if blogcategory.slug == c.slug %} class="active"{% endif %}>
                      <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>



</section>
<section class="section-30 section-md-top-30 section-md-bottom-111 bg-qua-haze">
    <div id="fb-root"></div>
    <div class="shell-fluid">
      <div class="range range-xs-center">
         
        <div class="cell-xs-10 cell-sm-12 cell-lg-6 cell-xl-preffix-1">
          <!-- Post Modern Timeline-->
          {% for blog in blogs %}
          <article class="post post-modern post-modern-timeline post-modern-timeline-left">
            <!-- Post media-->
            <header class="post-media"><img class="img-responsive" width="500" height="500" src="{% if blog.image %} {{ blog.image.cdn_url }} {% else %} {% static 'images/blogdefault.jpg' %} {% endif %}" alt=""/></header>
            <!-- Post content-->
            <section class="post-content post-body text-left">
              <div class="post-meta">
                <ul class="list-inline list-inline-lg">
                  <li><span class="text-middle icon text-primary mdi mdi-tag-outline"></span><a class="text-gray-light text-middle text-italic" href="{{ c.get_absolute_url }}">{{ blog.blogcategory }}</a><span class="text-middle">
                  </li>
                  <li><span class="text-middle icon text-primary mdi mdi-account-outline"></span><a class="text-gray-light text-middle text-italic" href="#">Achieve solutions</a>
                  </li>
                  <!-- <li><span class="text-middle icon text-primary mdi mdi-comment-outline"></span><a class="text-gray-light text-middle text-italic" href="##comments">2 Comments</a> -->
                  </li>
                </ul>
              </div>
              <!-- Post Title-->
              <div class="post-title">
                <h4 class="text-bold"><a href="#">{{ blog.blog_name }}</a> <br> {{ blog.brief_description}}</h4>
              </div>
              <p>{{ blog.blog_story }}</p>
              <div class="post-time">
                <div></div>{{ blog.date }}
              </div>
              <div class="post-bottom reveal-sm-flex range-sm-reverse range-sm-middle range-xs-justify">
                <div class="text-sm-right text-md-left text-lg-right inset-md-left-10 offset-top-15 offset-sm-top-0">
                  <ul class="list-inline">
                    <li><a class="icon fa fa-facebook  icon-silver" href="#"></a></li>
                    <li><a class="icon fa fa-twitter  icon-silver" href="#"></a></li>
                  </ul>
                </div>
                <div class="offset-top-15 offset-sm-top-0"><a class="btn btn-circle btn-xs btn-matrix"  style="box-shadow: 0 6px 22px 0 #3b3b3b; "href="{{ blog.get_absolute_url }}">read more</a></div>
              </div>
         
            </section>
          </article>
          {% endfor %}
          <div class="offset-top-90">
            <!-- Classic Pagination-->
           
          </div>
          
        </div>
  
        <div class="cell-xs-8 cell-sm-12 offset-top-60 offset-lg-top-0 text-left cell-lg-4">
          <div class="inset-lg-left-30 inset-xl-left-147">



                            <div class="range side-bar">
                            
                           

                              <div class="cell-sm-6 cell-lg-12 offset-top-0 offset-md-top-0">
                                <h6 class="text-bold"> Live Twitter Feed </h6>
                                <hr class="divider divider-iron">
                                <!-- Twitter standart widget-->
                                <a class="twitter-timeline" data-height="700" data-theme="light" href="https://twitter.com/AchieveSol?ref_src=twsrc%5Etfw">Tweets by AchieveSol</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                              </div>

                              <div class="cell-sm-6 cell-lg-12 offset-top-60 offset-md-top-90">
                                  <h6 class="text-bold">LiveFacebook Feed</h6>
                                <!-- Facebook standart widget-->
                                <div>
                                 
                                  <hr class="divider divider-iron veil-lg">
                                  <div id="fb-root"></div>
                                  <div class="fb-page-responsive">
                                    <div class="fb-page" data-href="https://www.facebook.com/achievesol" data-tabs="timeline" data-height="312" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                      <div class="fb-xfbml-parse-ignore">
                                        <blockquote cite="https://www.facebook.com/achievesol"><a href="https://www.facebook.com/achievesol" target="_blank">Achieve sol</a></blockquote>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              
                       
                           
                          
                   
                         
                            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



 <!-- Unordered and Ordered Lists-->

</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- PhotoSwipe Gallery-->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__cent"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
