{% extends 'achievesolapp/base.html' %}
{% load static %}

{% block content %}
 
 <!-- Page-->
 <div class="page text-center">
        <!-- Page Contents-->
        <section class="page-content bg-gray-dark bg-gray-gradient-after">
          <div class="one-page">
            <div class="shell">
              <div class="one-page-header">
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><img src="{% static "images/3.png"  %}"  class="img-fluid logo" style="width:260px"   alt="img" ></div>
            </div>
            </div>
            <!-- 404-->
            <div class="context-dark">
              <div class="shell">
                <div class="range">
                  <div class="section-160 section-md-111 offset-md-top-90 section-cover range range-xs-left range-xs-middle">
                    <div class="cell-xs-10 cell-sm-12 cell-lg-6 cell-xl-preffix-1">
                      <div class="text-extra-big text-ubold text-primary"></div>
                      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSftXqxpAOYXq2hByG4JKPlZxmPGi_gCQAXm9CURESoayrio6w/viewform?embedded=true" width="350" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfYV7600fYDkdF8wb4lh-EalPVjZXEsot7Jdk2lXsrGZ_J8NA/viewform?embedded=true" width="350" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

                      <div class="group-xl offset-top-20 offset-md-top-30"><a class="btn btn-primary btn-circle"  style="box-shadow: 0 6px 22px 0 #161616;" href="events.html">back to events</a><a class="btn btn-white-outline btn-circle"  style="box-shadow: 0 6px 22px 0 #161616;"href="contact.html">contact us</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="one-page-footer">
              <div class="shell">
                  <p class="text-white-05">
                      Achieve solutions 
                      &#169;<span id="copyright-year"></span> Design by <a class="text-alto" href="http://www.brainlabs.co.ke/" target="_blank"> brain Labs
                        <!-- {%FOOTER_LINK}--></a>
                    </p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Global Mailform Output-->
      <div class="snackbars" id="form-output-global"></div>
      <!-- PhotoSwipe Gallery-->
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>
          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <div class="pswp__counter"></div>
              <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
              <button class="pswp__button pswp__button--share" title="Share"></button>
              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
              <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
              <div class="pswp__caption__cent"></div>
            </div>
          </div>
        </div>
      </div>
      {% endblock%}