<!DOCTYPE html>
<html class="wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Coaching</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CMerriweather:300,400,400i,700,700i%7CLato:400,400i,700,900">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-header slider-menu-position">
              <!-- RD Navbar Transparent-->
              <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-top-panel rd-navbar-default rd-navbar-white rd-navbar-static-fullwidth-transparent rd-navbar-simple" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="75px" data-auto-height="false" data-lg-auto-height="true" data-layout="rd-navbar-fixed" data-xs-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
                  <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                      <!-- RD Navbar Toggle-->
                      <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                      <!-- Navbar Brand-->
                      <div class="rd-navbar-brand"><a href="index.html">Jordan<span>Turner</span></a></div>
                    </div>
                    <div class="rd-navbar-menu-wrap">
                      <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                          <div class="form-search-wrap">
                            <!-- RD Search Form-->
                            <form class="form-search rd-search" action="search-results.html" method="GET">
                              <div class="form-group">
                                <label class="form-label form-search-label form-label-sm rd-input-label" for="rd-navbar-form-search-widget">Search</label>
                                <input class="form-search-input input-sm form-control form-control-gray-lightest input-sm" id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off">
                              </div>
                              <button class="form-search-submit" type="submit"><span class="fa fa-search"></span></button>
                            </form>
                          </div>
                          <!-- RD Navbar Nav-->
                          <ul class="rd-navbar-nav">
                            <li><a href="index.html"><span>Home</span></a>
                              <ul class="rd-navbar-dropdown">
                                <li><a href="home-variant-2.html"><span class="text-middle">Home variant 2</span></a>
                                </li>
                                <li><a href="home-variant-3.html"><span class="text-middle">Home variant 3</span></a>
                                </li>
                              </ul>
                            </li>
                            <li><a href="#"><span>About</span></a>
                              <ul class="rd-navbar-dropdown">
                                <li><a href="overview.html"><span class="text-middle">Overview</span></a>
                                </li>
                                <li><a href="press.html"><span class="text-middle">Press</span></a>
                                </li>
                                <li><a href="faq-page.html"><span class="text-middle">FAQ Page</span></a>
                                </li>
                              </ul>
                            </li>
                            <li><a href="#"><span>Learn</span></a>
                              <ul class="rd-navbar-dropdown">
                                <li><a href="junior-programs.html"><span class="text-middle">Junior Programs </span></a>
                                </li>
                                <li><a href="adult-programs.html"><span class="text-middle">Adult Programs</span></a>
                                </li>
                                <li><a href="professional-programs.html"><span class="text-middle">Professional Programs</span></a>
                                </li>
                              </ul>
                            </li>
                            <li class="active"><a href="coaching.html"><span>Coaching</span></a>
                            </li>
                            <li><a href="events.html"><span>Events</span></a>
                            </li>
                            <li><a href="#"><span>Shop</span></a>
                              <ul class="rd-navbar-dropdown">
                                <li><a href="product-catalog.html"><span class="text-middle">Product Catalog</span></a>
                                </li>
                                <li><a href="single-product.html"><span class="text-middle">Single Product</span></a>
                                </li>
                                <li><a href="shopping-cart.html"><span class="text-middle">Shopping Cart</span></a>
                                </li>
                                <li><a href="checkout.html"><span class="text-middle">Checkout</span></a>
                                </li>
                              </ul>
                            </li>
                            <li><a href="classic-blog.html"><span>Blog</span></a>
                              <ul class="rd-navbar-dropdown">
                                <li><a href="classic-blog.html"><span class="text-middle">Classic Blog</span></a>
                                </li>
                                <li><a href="grid-blog.html"><span class="text-middle">Grid Blog</span></a>
                                </li>
                                <li><a href="masonry-blog.html"><span class="text-middle">Masonry Blog</span></a>
                                </li>
                                <li><a href="modern-blog.html"><span class="text-middle">Modern Blog</span></a>
                                </li>
                                <li><a href="post-page.html"><span class="text-middle">Post Page</span></a>
                                </li>
                              </ul>
                            </li>
                            <li><a href="#"><span>Pages</span></a>
                              <div class="rd-navbar-megamenu">
                                <div class="row">
                                  <ul class="col-md-3">
                                    <li><a href="404-page.html"><span class="text-middle">404 Page</span></a></li>
                                    <li><a href="503-page.html"><span class="text-middle">503 Page</span></a></li>
                                    <li><a href="coming-soon.html"><span class="text-middle">Coming Soon</span></a></li>
                                    <li><a href="search-results.html"><span class="text-middle">Search Results</span></a></li>
                                    <li><a href="site-map.html"><span class="text-middle">Sitemap</span></a></li>
                                    <li><a href="privacy.html"><span class="text-middle">Privacy Policy</span></a></li>
                                  </ul>
                                  <ul class="col-md-3">
                                    <li><a href="terms-of-use.html"><span class="text-middle">Terms of Use</span></a></li>
                                    <li><a href="team.html"><span class="text-middle">Team</span></a></li>
                                    <li><a href="team-member-profile.html"><span class="text-middle">Team Member Profile</span></a></li>
                                    <li><a href="events-calendar.html"><span class="text-middle">Events Calendar</span></a></li>
                                    <li><a href="single-event.html"><span class="text-middle">Single Event</span></a></li>
                                    <li><a href="testimonials.html"><span class="text-middle">Testimonials</span></a></li>
                                  </ul>
                                  <ul class="col-md-3">
                                    <li><a href="grid-gallery.html"><span class="text-middle">Grid Gallery</span></a></li>
                                    <li><a href="masonry-gallery.html"><span class="text-middle">Masonry Gallery</span></a></li>
                                    <li><a href="cobbles-gallery.html"><span class="text-middle">Cobbles Gallery</span></a></li>
                                    <li><a href="gallery-without-padding.html"><span class="text-middle">Gallery Without Padding</span></a></li>
                                  </ul>
                                  <ul class="col-md-3">
                                    <li><a href="forms.html"><span class="text-middle">Forms</span></a></li>
                                    <li><a href="buttons.html"><span class="text-middle">Buttons</span></a></li>
                                    <li><a href="grid.html"><span class="text-middle">Grid</span></a></li>
                                    <li><a href="progress-bars.html"><span class="text-middle">Progress Bars</span></a></li>
                                    <li><a href="tables.html"><span class="text-middle">Tables</span></a></li>
                                    <li><a href="tabs-&amp;-accordions.html"><span class="text-middle">Tabs & Accordions</span></a></li>
                                    <li><a href="typography.html"><span class="text-middle">Typography</span></a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li><a href="contacts.html"><span>Contacts</span></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- RD Navbar Search-->
                      <div class="rd-navbar-search rd-navbar-search-top-panel"><a class="rd-navbar-search-toggle mdi" data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#"><span></span></a>
                        <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                          <div class="form-group">
                            <label class="form-label rd-input-label" for="rd-navbar-search-form-input">Type and hit enter...</label>
                            <input class="rd-navbar-search-form-input form-control form-control-gray-lightest" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                          </div>
                          <div class="rd-search-results-live" id="rd-search-results-live"></div>
                        </form>
                      </div><a class="shopping-cart" href="shopping-cart.html"><span class="icon icon-sm fa-shopping-cart"></span><span>10</span></a>
                    </div>
                  </div>
                </nav>
              </div>
        <!-- Modern Breadcrumbs-->
        <div class="section-height-800 breadcrumb-modern context-dark text-center breadcrumbs-center">
          <div class="shell section-bottom-30">
            <div class="veil reveal-md-block">
              <h1 class="text-bold">Coaching</h1>
            </div>
            <ul class="list-inline list-inline-with-arrows p">
              <li><a class="text-white" href="index.html">Home</a></li>
              <li>Coaching
              </li>
            </ul>
          </div>
        </div>
      </header>
      <!-- Latest Client Stories-->
      <section class="section-90 section-md-top-120 section-md-bottom-111">
        <div class="shell">
          <div class="range range-xs-center">
            <div class="cell-sm-10 cell-lg-8">
              <div>
                <h2 class="text-bold">I, JordanTurner, Will Make<br class="veil reveal-md-inline-block">You Proud of Yourself!</h2>
              </div>
              <div class="offset-top-30">
                <p>Believe me, just as tens of thousands of people who've already attended my motivational speaking events!</p>
              </div>
            </div>
          </div>
          <div class="offset-top-60">
            <div class="isotope-wrap">
              <div class="row">
                <!-- Isotope Filters-->
                <div class="col-lg-3">
                  <div class="isotope-filters isotope-filters-vertical">
                    <h4 class="text-uppercase isotope-filters-title offset-top-34"> </h4>
                    <ul class="list-inline list-inline-sm">
                      <li class="veil-md">
                        <p>Choose your category:</p>
                      </li>
                      <li class="section-relative">
                        <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
                        <ul class="list-sm-inline isotope-filters-list" id="isotope-1">
                          <li><a class="active" data-isotope-filter="Books" data-isotope-group="gallery" href="#">Books</a></li>
                          <li><a data-isotope-filter="1-on-1 Coaching" data-isotope-group="gallery" href="#">1-on-1 Coaching</a></li>
                          <li><a data-isotope-filter="Events" data-isotope-group="gallery" href="#">Events</a></li>
                          <li><a data-isotope-filter="Podcasts &amp; Audio" data-isotope-group="gallery" href="#">Podcasts &amp; Audio</a></li>
                          <li><a data-isotope-filter="Personal Development Articles" data-isotope-group="gallery" href="#">Personal Development Articles</a></li>
                          <li><a data-isotope-filter="Business Coaching" data-isotope-group="gallery" href="#">Business Coaching</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Isotope Content-->
                <div class="col-lg-9 offset-lg-top-0 offset-top-34">
                  <div class="isotope" data-isotope-layout="fitRows" data-isotope-group="gallery">
                    <div class="row text-sm-left">
                      <div class="col-md-12 isotope-item" data-filter="Books"><img class="img-responsive" src="images/pages/coaching-1-870x280.jpg" width="870" height="280" alt=""/>
                        <h4 class="offset-top-30 text-bold">Books</h4>
                        <p class="offset-md-top-20">Being a highly acclaimed life motivational speaker for over a decade, Mike has more than 12 books already under his belt and he's working on 2 more as of now!</p>
                        <p>These include books on organizing a perfect life/work balance, some family relationships advice notes, books on marriage and love, just as well as a collection of life philosophy and ethics, developed and popularized by Mr. Turner!</p><a class="btn btn-circle btn-matrix offset-top-15" href="contacts.html">books</a>
                      </div>
                      <div class="col-md-12 isotope-item" data-filter="1-on-1 Coaching"><img class="img-responsive" src="images/pages/coaching-2-870x280.jpg" width="870" height="280" alt=""/>
                        <h4 class="offset-top-30 text-bold">1-on-1 Coaching</h4>
                        <p class="offset-md-top-20">This type of coaching proved to be not just the most effective one, but also the most popular! No wonder that due to a lot of bookings, there's currently a waiting list in order to get to the meeting...</p>
                        <p>Despite that fact, I always try to free up as much of my own personal time as possible, just to have an opportunity to sit down with one more listener, who's ready to get his life changed for good!</p><a class="btn btn-circle btn-matrix offset-top-15" href="contacts.html">get in touch</a>
                      </div>
                      <div class="col-md-12 isotope-item" data-filter="Events"><img class="img-responsive" src="images/pages/coaching-3-870x280.jpg" width="870" height="280" alt=""/>
                        <h4 class="offset-top-30 text-bold">Events</h4>
                        <p class="offset-md-top-20">Yearly Jordan goes out to an average of 100 speaking events! That's an average of 1 every 3 days, each accommodating more than 5000 people! Thousands of people cannot be wrong!</p>
                        <p>The fact that my events get overbooked regardless of which state does the event occurs in says it all! People just know from their personal experience or from the recommendations of their friends, colleagues or relatives, that my life coaching works and motivates to be and achieve more!</p><a class="btn btn-circle btn-matrix offset-top-15" href="contacts.html">get in touch</a>
                      </div>
                      <div class="col-md-12 isotope-item" data-filter="Podcasts &amp; Audio">
                        <div class="soundcloud-player-classic">
                          <iframe height="166" width="100" src="//w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                        </div>
                        <h4 class="offset-top-30 text-bold">Podcasts & Audio Books</h4>
                        <p class="offset-md-top-20">All of Jordan’s speaking events, just as well as his audio books and exclusive podcast series are available here, up for a purchase to make your life better!</p>
                        <p>Some of the audios here are not mere copies off my events' speeches or excerpts from my books... Many of those are actually special episodes that I use during my original podcast series broadcast!</p><a class="btn btn-circle btn-matrix offset-top-15" href="contacts.html">get in touch</a>
                      </div>
                      <div class="col-md-12 isotope-item" data-filter="Personal Development Articles"><img class="img-responsive" src="images/pages/coaching-4-870x280.jpg" width="870" height="280" alt=""/>
                        <h4 class="offset-top-30 text-bold">Personal Development Articles</h4>
                        <p class="offset-md-top-20">I tend to think of my blog as about yet another medium (besides the public speaking events, podcasts, and books) that I am blessed to use to provide my knowledge and my life outlook to help people.</p>
                        <p>Just sign up for a newsletter of the most recent articles (which is completely FREE of charge) and you will see yourself, how being exposed to the universal principles of a positive life outlook your behavior (hence your life) changes for good!</p><a class="btn btn-circle btn-matrix offset-top-15" href="blog-classic.html">view blog posts</a>
                      </div>
                      <div class="col-md-12 isotope-item" data-filter="Business Coaching"><img class="img-responsive" src="images/pages/coaching-5-870x280.jpg" width="870" height="280" alt=""/>
                        <h4 class="offset-top-30 text-bold">Business Coaching</h4>
                        <p class="offset-md-top-20">Successful life coaching and inspiring people to lead a better personal life is one thing, while helping the wellbeing of the commercial companies to get back on track is a whole another story!</p>
                        <p>While most of my time is dedicated towards helping thousands of individuals with their pursuit of life and happiness, sometimes I also help businesses to get a new work outlook!</p><a class="btn btn-circle btn-matrix offset-top-15" href="contacts.html">get in touch</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="page-footer">
        <div class="shell-fluid">
          <div class="text-left section-90 section-lg-top-111 section-lg-bottom-120 context-dark">
            <div class="range range-xs-center">
              <div class="cell-xs-10 cell-sm-8 cell-md-8 cell-lg-4">
                <div class="inset-md-right-36"><a class="brand" href="index.html">Jordan<span>Turner</span></a>
                  <p>Jordan Turner, better known at his North-Western University alma mater's Debate Classes as "the Motivator" is a rock star in the motivational speeches business! His expertise, his philosophy and ethic programs, his books and his events, attended by thousands of people yearly are famous across the US... Though, while he enjoys a certain level of success and fame now, it hasn't always been like that! It’s hard to believe, but in his high school years, Jordan Turner was a timid and shy boy!</p>
                  <h6 class="text-bold">Newsletter</h6>
                  <hr class="divider">
                  <p>Sign up to Jordan Turner’s newsletter and be the first to know about the latest news, special offers, and events.</p>
                        <form class="rd-mailform" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                          <div class="form-group">
                            <div class="input-group input-group-sm">
                              <input class="form-control text-gray-darker" placeholder="Your e-mail..." type="email" data-constraints="@Required @Email" name="email"><span class="input-group-btn">
                                <button class="btn btn-sm btn-primary" type="submit">Subscribe</button></span>
                            </div>
                          </div>
                        </form>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-8 cell-md-8 cell-lg-4 offset-top-70 offset-lg-top-0">
                <div class="inset-lg-left-15 inset-lg-right-30">
                  <h6 class="text-bold">Recent Blog Posts</h6>
                  <hr class="divider">
                  <div class="post-mini unit unit-middle unit-horizontal post-widget unit-xs-top">
                    <div class="unit-left"><img class="img-responsive" src="images/blog/blog-1-160x120.jpg" width="160" height="120" alt=""/>
                    </div>
                    <div class="unit-body">
                      <div class="post-meta"><span class="text-middle icon icon-sm-size-1 mdi mdi-calendar text-silver"></span>
                        <time class="text-middle post-meta-time text-italic reveal-inline" datetime="2016-04-30"> 2 days ago</time>
                      </div>
                      <h6 class="text-bold"><a href="post-single.html">Finding Your Goals When You're 40</a></h6>
                    </div>
                  </div>
                  <div class="post-mini unit unit-middle unit-horizontal post-widget unit-xs-top">
                    <div class="unit-left"><img class="img-responsive" src="images/blog/blog-2-160x120.jpg" width="160" height="120" alt=""/>
                    </div>
                    <div class="unit-body">
                      <div class="post-meta"><span class="text-middle icon icon-sm-size-1 mdi mdi-calendar text-silver"></span>
                        <time class="text-middle post-meta-time text-italic reveal-inline" datetime="2016-04-30"> 2 days ago</time>
                      </div>
                      <h6 class="text-bold"><a href="post-single.html">Finding a Job of Your Dreams is Easy!</a></h6>
                    </div>
                  </div>
                  <div class="post-mini unit unit-middle unit-horizontal post-widget unit-xs-top">
                    <div class="unit-left"><img class="img-responsive" src="images/blog/blog-3-160x120.jpg" width="160" height="120" alt=""/>
                    </div>
                    <div class="unit-body">
                      <div class="post-meta"><span class="text-middle icon icon-sm-size-1 mdi mdi-calendar text-silver"></span>
                        <time class="text-middle post-meta-time text-italic reveal-inline" datetime="2016-04-30"> 2 days ago</time>
                      </div>
                      <h6 class="text-bold"><a href="post-single.html">The Biggest Differences Between an Introvert and Narcissist</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-xs-10 cell-sm-8 cell-md-8 cell-lg-4 offset-top-70 offset-lg-top-0">
                <div class="inset-lg-left-30 inset-lg-right-30">
                  <h6 class="text-bold">Contact Information</h6>
                  <hr class="divider">
                  <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top">
                    <div class="unit-left"><span class="icon icon-sm-size-1 mdi mdi-phone"></span></div>
                    <div class="unit-body">
                      <div class="text-bold">Phone Numbers</div>
                      <div class="p offset-top-5"><a class="text-alto" href="callto:#">1-800-1234-567</a><span>, </span><a class="text-alto" href="callto:#">1-800-6547-321</a></div>
                    </div>
                  </div>
                  <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top offset-top-20">
                    <div class="unit-left"><span class="icon icon-sm-size-1 mdi mdi-map-marker"></span></div>
                    <div class="unit-body">
                      <div class="text-bold">Office One</div>
                      <div class="p offset-top-5"><a class="text-alto" href="contacts.html">2130 Fulton Street San Diego, CA 94117-1080 USA</a></div>
                    </div>
                  </div>
                  <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top offset-top-20">
                    <div class="unit-left"><span class="icon icon-sm-size-1 mdi mdi-map-marker"></span></div>
                    <div class="unit-body">
                      <div class="text-bold">Office Two</div>
                      <div class="p offset-top-5"><a class="text-alto" href="contacts.html">3214 Fulton Street San Francisco, CA 98451-2154 USA</a></div>
                    </div>
                  </div>
                  <div class="unit unit-middle unit-horizontal unit-spacing-xs unit-xs-top offset-top-20">
                    <div class="unit-left"><span class="icon icon-sm-size-1 mdi mdi-email-outline"></span></div>
                    <div class="unit-body">
                      <div class="text-bold">E-mail Addresses</div>
                      <div class="p offset-top-5"><a class="text-primary reveal-block" href="/cdn-cgi/l/email-protection#daf9"><span class="__cf_email__" data-cfemail="f29b9c949db296979f9d9e9b9c99dc9d8095">[email&#160;protected]</span></a><a class="text-primary reveal-block" href="/cdn-cgi/l/email-protection#b093"><span class="__cf_email__" data-cfemail="3f525e56537f5b5a52505356515411504d58">[email&#160;protected]</span></a></div>
                    </div>
                  </div>
                  <div class="offset-top-35">
                          <ul class="list-inline">
                            <li><a class="icon fa fa-facebook icon-circle icon-gray-light" href="#"></a></li>
                            <li><a class="icon fa fa-twitter icon-circle icon-gray-light" href="#"></a></li>
                            <li><a class="icon fa fa-google-plus icon-circle icon-gray-light" href="#"></a></li>
                            <li><a class="icon fa fa-instagram icon-circle icon-gray-light" href="#"></a></li>
                            <li><a class="icon fa fa-rss icon-circle icon-gray-light" href="#"></a></li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="range range-xs-center offset-top-0">
            <div class="cell-sm-10 cell-md-10 cell-lg-12">
              <hr>
            </div>
          </div>
          <div class="range range-xs-center range-md-middle offset-top-0 section-40">
            <div class="cell-xs-10 cell-md-12 cell-lg-9 text-lg-left">
              <ul class="list-inline list-inline-lg footer-menu font-accent">
                <li><a href="#">Books</a></li>
                <li><a href="#">1-on-1 Coaching</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Podcasts & Audio Books</a></li>
                <li><a href="#">Personal Development Articles</a></li>
                <li><a href="#">Business Coaching</a></li>
              </ul>
            </div>
            <div class="cell-xs-10 cell-md-12 cell-lg-3 tex-lg-right offset-top-15 offset-lg-top-0 text-lg-right">
              <p class="text-white-05">
                Jordan Turner
                &#169;<span id="copyright-year"></span>. <a class="text-white-05" href="privacy.html">Privacy Policy</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>