{% extends 'achievesolapp/base.html' %}
{% load static %}

{% block content %}

    <!-- Page-->
    <div class="page text-center">
      <!-- Page Head-->
      <header class="page-header slider-menu-position">
              <!-- RD Navbar Transparent-->
              <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-top-panel rd-navbar-default rd-navbar-white rd-navbar-static-fullwidth-transparent " data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="75px" data-auto-height="false" data-lg-auto-height="true" data-layout="rd-navbar-fixed" data-xs-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
                  <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                      <!-- RD Navbar Toggle-->
                      <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                      <!-- Navbar Brand-->
                      <div class="rd-navbar-brand"><img src="{% static "images/3.png" %}" class="img-fluid logo" style="width:260px"  alt="img" ></div>
                    </div>
                    <div class="rd-navbar-menu-wrap">
                      <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                          <div class="form-search-wrap">
                            <!-- RD Search Form-->
                            <form class="form-search rd-search" action="search-results.html" method="GET">
                              <div class="form-group">
                                <label class="form-label form-search-label form-label-sm rd-input-label" for="rd-navbar-form-search-widget">Search</label>
                                <input class="form-search-input input-sm form-control form-control-gray-lightest input-sm" id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off">
                              </div>
                              <button class="form-search-submit" type="submit"><span class="fa fa-search"></span></button>
                            </form>
                          </div>
                          <!-- RD Navbar Nav-->
                          <ul class="rd-navbar-nav">
                            <li><a href="{% url 'achievesolapp:home' %}"><span>Home</span></a>
                           
                            </li>
                            <li ><a href="{% url 'achievesolapp:about' %}" ><span>Who we are</span></a>
                            
                            </li>
                            <li  class="active" ><a href="{% url 'achievesolapp:services' %}" ><span>Our Services</span></a>
                              
                            </li>
                            <li><a href="{% url 'achievesolapp:programs' %}" ><span>Our programs</span></a>
                            </li>
                            <li><a href="{% url 'achievesolapp:product_list' %}" ><span>Events</span></a>
                            </li>
                            <li><a href="{% url 'achievesolapp:media_list' %}" ><span>Gallery</span></a>
                            </li>
                            <li><a href="{% url 'achievesolapp:blog_list' %}"  ><span>Blog</span></a>  
                            </li>
                            <li><a href="{% url 'achievesolapp:contact' %}"  ><span>contact</span></a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- RD Navbar Search-->
                     
                    </div>
                  </div>
                </nav>
              </div>
      <!-- Modern Breadcrumbs-->
      <div class="section-height-800 breadcrumb-modern context-dark text-center breadcrumbs-center">
          <div class="shell section-bottom-120">
            <div class="veil reveal-md-block">
              <h3 class="text-bold">What we do</h3>
              <ul class="list-inline-custom">
                <li><a class="icon fa fa-facebook  icon-circle icon-gray-light" href="https://www.facebook.com/achievesol/" target="_blank"></a></li>
                <li><a class="icon fa fa-twitter  icon-circle icon-gray-lightt" href="https://twitter.com/achievesol" target="_blank"></a></li>
                <li><a class="icon fa fa-instagram  icon-circle icon-gray-lightg" href="https://www.instagram.com/achievesolutions/" target="_blank"></a></li>
      
              </ul>
          <!-- <ul class="list-inline list-inline-with-arrows p">
            <li><a class="text-white" href="index.html">HOME</a></li>
            <li>SERVICES
            </li>
          </ul> -->
        </div>
      </div>
    </header>



    <section class="bg-image bg-image-home-2 section-90 section-md-top-90 section-md-bottom-111">
        <div class="shell-fluid">
          <div class="range range-xs-center range-md-left text-left">
            <div class="cell-xs-10 cell-sm-8 cell-md-5"><img style="border-radius: 8px;" class="img-responsive" src="{% static "images/blog/con2.jpg" %}" width="720" height="400" alt=""/>
            </div>
            
            <div class="cell-xs-10 cell-sm-8 cell-md-7 offset-top-60 offset-md-top-0">
              <h3 class="text-bold text-center">Our Services</h3>
              <div class="inset-md-left-36 inset-xl-left-110 offset-top-20">
                  <p>We provide structured training support, motivation, Coaching and Mentorship interventions that address specific needs and achieve positives outcomes.
                      We assist individuals to access their own personal resources, capabilities, and qualities to achieve defined goals.
                      Achieve Solutions strategy and objectives relate to People Empowerment, Team Development & Organization Success.
                      </p>
                    <div class="responsive-tabs responsive-tabs-classic" data-type="accordion">
                            <ul class="resp-tabs-list tabs-group-default" data-group="tabs-group-default">
                                <li>Motivational Talks</li>
                                <li>Training</li>     
                                <li>Workshops, Seminars, Conferences & Networking Events  </li>
                                 <li>Team – Building Facilitation </li>
                              
                            </ul>
                            <div class="resp-tabs-container tabs-group-default" data-group="tabs-group-default">
                              <div>
                                <p>We motivate, challenge, empower and transform our audience. Our talks will ignite you and make you bigger than your life challenge(s).  At achieve Solutions we strongly remind people not to  give up as we work with them to achieve defined goals. As an organization we believe that everyone has immense ability to change their lives for better. At Achieve Solutions, we support you every step of the way as we boost your confidence & uplift your spirit. The talks are simply inspirational.</p>
                              </div>
                              <div>
                               <p>We offer impactful cutting edge training. Our creative and innovative methodologies create a lasting environment for learning. Be part of goal achievers at achieve solutions where training solutions are shared with passion and commitment.
                               </p>
                              </div>
                              <div>
                                <p>
                                    We hold theme based events and share knowledge, theories and practices to equip individuals, teams and organizations to stay one step ahead of the competition. We focus on moulding and building the capacity of individuals, staff members, innovators, entrepreneurs and young professionals for knowledge, wisdom, skills building and excellent learning experience.
                                </p>
                              </div>
                              <div>
                                    
                            <p>
                                We support individuals, teams and organizations to harness their collective energy and to develop a “Togetherness brain” approach that improves the way we supervise, manage, lead and relate as teams.

                                The  dialogue sessions are based on customized pre – event research. This is important for the analysis of the team process for purposes of identifying gaps and getting learning points for overall team benefit. 
                                
                                The exercises concentrate on what hinders participants from being a cohesive high performing team and  presents possible techniques for solutions. The program is designed to be flexible enough to accommodate unique needs of each client.
                                
                                The flexibility of content is based on clients training needs, outcomes and expectations. Flexibility of time and budget is based on your time resource and how much you are willing to invest. 
                                
                            </p>
                               
                              
                                      </div>
                              </div>
                            </div>
                          </div>
                         
              </div>
            </div>
          </div>
        </div>
      </section>
    
  
  
  
  
      <!-- RD Parallax-->
      <section class="bg-image bg-fixed" style="background-image: url({% static "images/pages/adults2.jpg)" %}">
        <div class="shell-fluid section-90 section-md-120 context-dark text-center">
          <div class="range range-sm-center list-dashed-big" >
            <div class="cell-sm-2" >
              <!-- CountTo-->
              <div class="h1 font-default"style="color:#110070;" >
                <div class="counter big text-ubold" style="color:#ff8c00;" data-from="0" data-to="60 "></div>
              </div>
              <div class="text-primary-light offset-top-20"  style="color:#ff8c00;">Motivational Talks</div>
            </div>
            <div class="cell-sm-2 offset-top-60 offset-sm-top-0">
              <!-- CountTo-->
              <div class="h1 font-default">
                <div class="counter  big text-ubold"  style="color:#ff8c00;" data-from="0" data-to="12 "></div>
              </div>
              <div class="text-primary-light offset-top-20" style="color:#ff8c00;">Conferences & Networking Events</div>
            </div>
            <div class="cell-sm-2 offset-top-60 offset-sm-top-0">
              <!-- CountTo-->
              <div class="h1 font-default">
                <div class="counter big text-ubold" data-from="0" data-to="35"  style="color:#ff8c00;"></div>
              </div>
              <div class="text-primary-light offset-top-20"  style="color:#ff8c00;">Training</div>
            </div>
            <div class="cell-sm-2 offset-top-60 offset-sm-top-0">
              <!-- CountTo-->
              <div class="h1 font-default">
                <div class="counter big text-ubold" data-from="0" data-to="35" style="color:#ff8c00;"></div>
              </div>
              <div class="text-primary-light offset-top-20" style="color:#ff8c00;" >Workshops & Seminars</div>
            </div>
            <div class="cell-sm-2 offset-top-60 offset-sm-top-0">
              <!-- CountTo-->
              <div class="h1 font-default">
                <div class="counter counter-k big text-ubold" data-from="0" data-to="6"  style="color:#ff8c00;"></div>
              </div>
              <div class="text-primary-light offset-top-20"  style="color:#ff8c00;">People Motivated</div>
            </div>
            <div class="offset-top-90 offset-xl-top-120"><a class="btn btn-primary btn-circle"  style="box-shadow: 0 6px 22px 0 #000000;"href="{% url 'achievesolapp:appointement' %}" >make an appointment</a></div>
          </div>
        </div>
      </section>
      <section class="section-90 section-md-0" >
        <div class="shell-fluid-full">
          <div class="range range-xs-center">
            <div class="cell-xs-10 cell-md-12">
              <div class="reveal-md-flex">
                <div class="thumbnail-team-2">
                  <div class="image-wrap"><img class="img-responsive" src="{% static "images/gallery/githogoro/africa.png" %}"  width="384" height="480" alt=""/>
                  </div>
                
                </div>
                <div class="thumbnail-team-2">
                  <div class="image-wrap"><img class="img-responsive" src="{% static "images/gallery/githogoro/vision.jpg" %}" width="384" height="480" alt=""/>
                  </div>
                  
                </div>
                <div class="thumbnail-team-2">
                  <div class="image-wrap"><img class="img-responsive" src="{% static "images/gallery/githogoro/sdg.jpg" %}" width="384" height="480" alt=""/>
                  </div>
                
                </div>
             
                
              </div>
            </div>
          </div>
        </div>
      </section>
      

 <!-- Unordered and Ordered Lists-->

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    {% endblock%}



























